.noty {
   
}

.noty .noty-item {
    
}

.noty .noty-item .panel {
    margin-bottom: 0;
}

.noty .noty-item .panel ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid black;
}

.noty .noty-item .panel ul li {
    list-style: none;
    color: black;
    padding: 15px 20px;
    transition: 1s all;
}

.noty .noty-item .panel ul li:hover {
    background-color: gray;
    color: white;
    transition: 1s all;
}

.noty .noty-item .panel ul li.active {
    list-style: none;
    color: white;
    background-color: #5c0505;
    transition: 1s all;
}

.noty .noty-item .panel-data {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 4px;
}

.noty .noty-item .panel-data .panel-data-item {

}
marquee ul
{ 
    min-height: 250px;
}