.carousel-container{
    width: 100%;
}
.carousel-container .items{
    position: relative;
    max-height: 360px;
}
.carousel-container .items ul{
    width: 100vw;
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    transition-duration: 350ms;
}

.carousel-container .items ul li{
    list-style: none;
    width: 100vw;
}
.carousel-container .items .item{
    width: 100vw;
}
.carousel-container .items .item .item-container span img{
  display: none;
}
.carousel-container .items .item.active .item-container span img{
    display: block;
}
.lazy-load-image-background,.lazy-load-image-background img{
    width: 100%;
}

.carousel-container .items ul .item .lazy-load-image-background img{
    width: 100vw;    
    max-height: 360px;
}
.carousel-container .items ul .item .lazy-load-image-background video{
    width: 100vw;    
    max-height: 360px;
}
.carousel-container .items ul .item .item-container{
    width: 100vw;
}

.carousel-container .items .carousel-dots{
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.carousel-container .items .carousel-dots .dot-item{
    width: 10px;
    display: block;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 8px;
}
.carousel-container .items .carousel-dots .dot-item.active{
    width: 30px;
    display: block;
    height: 8px;
    background: rgb(249, 152, 152);
    border-radius: 15%;
    margin-right: 8px;
}
